.feedWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-large_50);
  width: 100%;
  max-width: 900px;
  margin: var(--spacing-large_50) auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: var(--spacing-medium_300);
  width: 100%;
}

.cardWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium_300);
  transition: var(--transition-default);
  height: 100%;
}

.cardWrapper:hover .cardImageOverlay {
  opacity: 1;
}

.cardImageWrapper {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--border-radius-500);
  overflow: hidden;
  position: relative;
}

.cardWrapper .cardImageOverlay {
  background: color(from var(--color-black) srgb r g b / 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition-default);
}

.cardImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium_100);
}

.cardMeta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-small_200);
  margin-bottom: var(--spacing-small_100);
}

.cardExcerpt {
  margin-bottom: var(--spacing-medium_100);
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: var(--spacing-medium_200);
}

.readMore {
  display: flex;
  align-items: center;
  gap: var(--spacing-small_100);
  opacity: 0;
  transition: var(--transition-default);
}

.cardWrapper:hover .readMore {
  opacity: 1;
}
