.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--spacing-medium_300);
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-gap: var(--spacing-medium_200);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
