@keyframes scaleIn {
  0% { visibility: hidden; opacity: 0; max-height: 0%; z-index: -1;}
  1% {visibility: visible; opacity: 1; z-index: 99;}
  100% {max-height: 100%; visibility: visible; opacity: 1; z-index: 99;}
}

.container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 105vh;
  justify-content: center;
  left: 50%;
  min-height: 100vh;
  opacity: 0;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  width: 100vw;
}

.containerOpen {
  opacity: 0.7;
  animation-name: scaleIn;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: both;
  animation-delay: 0ms;
}

.contentWrapper {
  background-color: var(--color-white);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: calc(100% - 100px);
  padding: var(--space-md);
  width: max-content;
}
