.card {
  background: var(--color-gray-2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: var(--transition-default);
}

.card:hover {
  background: var(--color-gray-3);
}

.cardWrapper {
  display: flex;
  height: 100%;
}

.cardWrapper a {
  display: flex;
  height: 100%;
  text-decoration: none;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: var(--space-base);
  padding: var(--space-md);
}

.cardMeta {
  display: flex;
  flex-direction: row;
  gap: var(--space-base);
}

.cardExcerpt {
  margin-block-start: var(--space-base);
}
