.container {
  align-items: center;
  background: var(--color-shm-black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1800px;
  margin: 0 auto var(--spacing-large_100) auto;
  padding: var(--spacing-medium_150);
  width: 100%;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  width: max-content;
}

.logoWrapper a {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-small_300);
}

.navLinks {
  background: transparent;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-medium_100);
  justify-content: space-between;
  list-style: none;
  width: max-content;
}

.navLinks a {
  border-radius: var(--border-radius-200);
  display: block;
  padding: var(--spacing-small_150) var(--spacing-small_400);
  transition: all 250ms ease-in-out;
}

.navLinks li.active a {
  background: var(--color-grey-300);
}

.navLinks a:hover {
  background: var(--color-grey-300);
}
