.altNavWrapper {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin-block-start: var(--spacing-medium_100);
  gap: var(--spacing-small_200);
}

.altNavWrapper a {
  text-decoration: underline;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: var(--spacing-medium_300);
  min-height: 100vh;
}

