.altNavWrapper {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  margin-block-start: var(--spacing-medium_100);
  gap: var(--spacing-small_200);
}

.altNavWrapper a {
  text-decoration: underline;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: var(--spacing-medium_300);
  min-height: 100vh;
}

.searchWrapper {
  align-items: center;
  display: flex;
  gap: var(--spacing-small_200);
  margin: 0 auto;
  max-width: 900px;
  width: 100%;

  & button {
    height: 55.5px;
  }
}
  
