.searchInput {
  background: var(--color-gray-1);
  border: 1px solid var(--color-gray-1);
  border-radius: 4px;
  color: var(--color-white);
  font-family: "Noto Sans", sans-serif;
  font-size: var(--font-base);
  margin: var(--spacing-medium_100) 0;
  max-width: 1200px;
  outline: none;
  padding: var(--spacing-medium_100);
  transition: var(--transition-default);
  width: 100%;
}

.searchInput::placeholder {
  color: var(--color-white);
}

.searchInput:focus {
  border-color: var(--color-primary, #ffffff);
}
