.searchWrapper {
  margin: var(--spacing-medium_100) 0;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.searchIcon {
  left: var(--spacing-medium_100);
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.searchInput {
  background: var(--color-grey-200);
  border: 1px solid var(--color-grey-200);
  border-radius: var(--border-radius-600);
  color: var(--color-grey-800);
  font-family: "Noto Sans", sans-serif;
  font-size: var(--font-base);
  max-width: 1200px;
  outline: none;
  padding: var(--spacing-medium_100);
  padding-left: calc(var(--spacing-medium_100) + 28px);
  transition: var(--transition-default);
  width: 100%;
}

.searchInput::placeholder {
  color: var(--color-grey-800);
}

.searchInput:focus {
  border-color: var(--color-grey-800);
}
