.column {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding-block: var(--spacing-medium_200);
}

.entryThumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.messageWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium_150);
  justify-content: center;
  max-width: 700px;
  padding: var(--spacing-medium_300);
  text-align: center;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--spacing-medium_300);
  min-height: 100vh;
}

.titleWrapper {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-column-gap: var(--spacing-small_200);
  margin-block-start: var(--spacing-medium_200);
  max-width: 700px;
  width: 100%;
}

.upNextCard {
  align-items: center;
  background: var(--color-gray-1);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--spacing-medium_200);
  margin-block-start: var(--spacing-medium_200);
  max-width: 700px;
  overflow: hidden;
  text-align: left;
  transition: var(--transition-default);
  width: 100%;
}

.upNextCard:hover {
  background: var(--color-gray-2);
}
