.regionBadge {
  background-color: var(--color-grey-700);
  border: 1px solid var(--color-grey-700);
  border-radius: 4px;
  color: var(--color-grey-100);
  font-size: var(--font-xs);
  padding: 4px 8px;
}
