.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--spacing-medium_300);
  min-height: 100vh;
}

.backButtonWrapper {
  background: var(--color-black);
  margin-block-end: var(--spacing-large_100);
  padding: var(--spacing-medium_200);
  width: 100%;
}

.backButtonWrapper > button {
  background: none;
  border: none;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: var(--transition-default);
}

.backButtonWrapper > button:hover {
  border-bottom: 2px solid var(--color-white);
}

.grid {
  display: grid;
  grid-gap: var(--spacing-medium_200);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
